.general {
    border-collapse:separate;
    border:solid #22576E 3px;
    border-radius:6px;
    -moz-border-radius:6px;
    background-color:#237D48;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
    width:70%;
    padding-top: 15px;  
    padding-right: 10px;  
    padding-bottom: 15px;  
    padding-left: 10px; 
    
}
.character-list{
  
    margin-left:auto;
    margin-right:0px;
    border-collapse:separate;
    border:solid #22576E 3px;
    border-radius:6px;
    -moz-border-radius:6px;
    background-color:#7BC398;
    width:150px;
    padding-top: 5px;  
    padding-right: 10px;  
    padding-bottom: 5px;  
    padding-left: 10px; 
  
  
  
  
  
  
}
.div-table-caption{
	  position: absolute;
    text-align: center;
    border-collapse:separate;
    border:solid #B0D385 3px;
    border-radius:6px;
    -moz-border-radius:6px;
    background-color: #6B9E2D;
    margin-left:15%;
    margin-right:auto;
    margin-top:-15px;
    width:100px;
    height: 5px
    padding-top: 5px;  
    padding-right: 5px;  
    padding-bottom: 5px;  
    padding-left: 5px; 	

}


.menu_options {
	    border-collapse:separate;
		position: absolute;
    border:solid #22576E 3px;
    border-radius:6px;
    -moz-border-radius:6px;
    background-color:#237D48;
    height: 28px;
    margin-left:auto;
    margin-right:auto;
 		top: 100px;
 right: 0px;
 left: 0px;
    width:540px;
    padding-top: 5px;  
    padding-right: 10px;  
    padding-bottom: 10px;  
    padding-left: 10px; 
 
    
}
.logo_stats {
	    border-collapse:separate;
		position: absolute;

 
    height: 77px;
    margin-left:auto;
    margin-right:auto;
 		top: 5px;
 right: 0px;
 left: 0px;
    width:540px;
    padding-top: 5px;  
    padding-right: 10px;  
    padding-bottom: 10px;  
    padding-left: 10px; 
 
    
}
.submenu_stats {
	    border-collapse:separate;
			margin-left: 310px;
	position: absolute;
	top: 30px;
	height: 55px;



 
    
}
.fancy_button {
  color:#16475C
	-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 1px 3px 5px black;
background-color: #5EA0BC;
position: absolute;
width: 5em;
height: 1.5em;
border:solid #16475C 3px;
border-radius: 1em 4em 1em 4em;
text-align: center;
-moz-border-radius: 0.5em 2em 0.5em 2em;
}
.fancy_button:hover {
	cursor:pointer;
	background-color:#16475C;
	color: #5EA0BC;
	
	
}
.fancy_word_button:hover {
	cursor:pointer;
	background-color:#F0E594;
	
	
}
.fancy_word_button {
	-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 1px 3px 5px black;
background-color: black;
position: relative;
width: 3em;
height: 1em;
border:solid #003366 3px;
border-radius: 1em 1em 1em 1em;
text-align: center;
-moz-border-radius: 0.5em .5em 0.5em .5em;
}

.fancy_word_button_text {
color: white;
font-weight: bold;
font-size: 12px;
position: relative;
top: -3px;
}

.fancy_button_text {

font-weight: bold;
font-size: 15px;
position: relative;
top: 1px;
}

body {
	background-color:#176938;
	color:black
}
/* Character Creation Specific CSS */

.race_tooltip_styling {
  max-width: 600px;
}