<%inherit file="global_layout.mako" />
	<form method="post" action="${request.route_url('login')}">
		<br />
		% if errorMessage is not None:
			<%block> <font color='red'>${errorMessage}</font> </%block>
		% endif
		<b></b>
		<fieldset>
			<legend>Required Information:</legend>
			<table>
			
				
			<tr><td>E-mail:</td><td> <input type="text" size="30" name="email" value=""/></td></tr>
			<tr><td>Password:</td><td> <input type="password" size="30" name="password" value=""> <br /></td></tr>

			
			<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
			<tr><td></td><td><input type="submit" value="Login" /></td></tr>
		</table>
		</fieldset>
	</form>
