<!-- Logo image and account info block -->
<div class="logo_stats"><img src="${request.static_url('makc:static/logo_medium.gif')}"></div>
	
	
	
<!-- Menu while logged in block -->	
<div class="menu_options" style="top: 150px; width: 360px;"><div class="fancy_button" style="  margin-left:0;" onclick="window.location = '${request.route_url('home')}'"><span class="fancy_button_text">Home</span></div><div class="fancy_button" style="  margin-left:90px;" onclick="window.location = '${request.route_url('about')}'"><span class="fancy_button_text">About</span></div><div class="fancy_button" style="  margin-left:180px;" onclick="window.location = '${request.route_url('signup')}'"><span class="fancy_button_text">Sign Up</span></div><div class="fancy_button" style="  margin-left:270px;" onclick="window.location = '${request.route_url('login')}'"><span class="fancy_button_text">Login</span></div></div>
