<!-- Logo image and account info block -->
<div class="logo_stats" style="top: 50px;"><img src="${request.static_url('makc:static/logo_small.gif')}"><div class="submenu_stats"><table width="245px" border="3" bordercolor="#6699CC"><tr><td bgcolor="#6699FF" width="35px">User</td><td align="center"  bgcolor="#336699"><a href="profile.php">${request.user.Username}</a></td><td bgcolor="#6699FF" width="65px">Messages</td><td align="center" bgcolor="#336699" width="20px"><a href="messages.php">30</a></td></tr><tr><td bgcolor="#6699FF">test2</td><td colspan="3" bgcolor="#336699"></td></tr></table></div></div>
	
	
	
<!-- Menu while logged in block -->	
<div class="menu_options" style="top: 150px; "><div class="fancy_button" style="  margin-left:0;" onclick="window.location = '${request.route_url('profile_default')}'"><span class="fancy_button_text">Home</span></div><div class="fancy_button" style="  margin-left:90px;" onclick="window.location = '${request.route_url('profile_default')}'"><span class="fancy_button_text">Filler</span></div><div class="fancy_button" style="  margin-left:180px;" onclick="window.location = 'ships.php'"><span class="fancy_button_text">ships</span></div><div class="fancy_button" style="  margin-left:270px;" onclick="window.location = 'map.php'"><span class="fancy_button_text">Sea Charts</span></div><div class="fancy_button" style="  margin-left:360px;" onclick="window.location = 'tech.php'"><span class="fancy_button_text">Tech</span></div><div class="fancy_button" style="  margin-left:450px;" onclick="window.location = 'index.php'"><span class="fancy_button_text">guild</span></div></div>
